//
// Custom sass mixins
//
// To use a mixin in this file, add this line to the top of your .scss file:
//   @import "base";
// Then to use a mixin for a particular rule, add this inside the ruleset's
// curly brackets:
//   @include mix-in-name;


// element-invisible as defined by http://snook.ca/archives/html_and_css/hiding-content-for-accessibility
@mixin element-invisible {
  position: absolute !important;
  height: 1px;
  width: 1px;
  overflow: hidden;
  @if $legacy-support-for-ie6 or $legacy-support-for-ie7 {
    clip: rect(1px 1px 1px 1px); // IE6 and IE7 use the wrong syntax.
  }
  clip: rect(1px, 1px, 1px, 1px);
}

// Turns off the element-invisible effect.
@mixin element-invisible-off {
  position: static !important;
  clip: auto;
  height: auto;
  width: auto;
  overflow: auto;
}

@mixin element-focusable {
  @include element-invisible;

  &:active,
  &:focus {
    @include element-invisible-off;
  }
}

// The word "Unpublished" displayed underneath unpublished nodes and comments.
@mixin unpublished-div {
  height: 0;
  overflow: visible;
  color: #d8d8d8;
  font-size: 75px;
  line-height: 1;
  font-family: Impact, "Arial Narrow", Helvetica, sans-serif;
  font-weight: bold;
  text-transform: uppercase;
  text-align: center;
  word-wrap: break-word; // A very nice CSS3 property

  @if $legacy-support-for-ie6 or $legacy-support-for-ie7 {
    .lt-ie8 &>* {
      position: relative; // Otherwise these elements will appear below the "Unpublished" text.
    }
  }
}

// Mixin to override text slogan by image
@mixin image-logo() {
  text-indent: -999999px;
  display: block;
  background: {
    image: url("../logo-camp2013.png");
    repeat: no-repeat;
  }
  width: 787px;
  height: 233px;
}
@mixin ribbon-sponsors($front-color, $back-color, $text-color) {
  $front-color-dark: darken($front-color, 20%);
  $back-color-dark: darken($back-color, 20%);
  .ribbon {
     width: 87%;
     margin:1.5em 0 0 2em;
     position: absolute;
     text-align: center;
     font-size: 20px!important;
     background: $front-color;
     background: -webkit-gradient(linear, left top, left bottom, from($front-color), to($front-color-dark));
     background: -webkit-linear-gradient(top, $front-color, $front-color-dark);
     background: -moz-linear-gradient(top, $front-color, $front-color-dark);
     background: -ms-linear-gradient(top, $front-color, $front-color-dark);
     background: -o-linear-gradient(top, $front-color, $front-color-dark);
     background-image: -ms-linear-gradient(top, $front-color 0%, $front-color-dark 100%);
     -webkit-box-shadow: rgba(000,000,000,0.3) 0 1px 1px;
     -moz-box-shadow: rgba(000,000,000,0.3) 0 1px 1px;
     box-shadow: rgba(000,000,000,0.3) 0 1px 1px;
     }
  .ribbon h2 {
     font-size: 25px!important;
     color: $text-color;
     text-shadow: #000 0 1px 0;
     margin:0;
     padding: 0;
     font-weight: normal;
     font-family: $opensans-bold;
     }
  .ribbon:before, .ribbon:after {
     content: '';
     position: absolute;
     display: block;
     bottom: -1em;
     border: 1.5em solid $back-color;
     z-index: -1;
     }
  .ribbon:before {
     left: -2em;
     border-right-width: 1.5em;
     border-left-color: transparent;
     -webkit-box-shadow: rgba(000,000,000,0.4) 1px 1px 1px;
     -moz-box-shadow: rgba(000,000,000,0.4) 1px 1px 1px;
     box-shadow: rgba(000,000,000,0.4) 1px 1px 1px;
     }
  .ribbon:after {
     right: -2em;
     border-left-width: 1.5em;
     border-right-color: transparent;
     -webkit-box-shadow: rgba(000,000,000,0.4) -1px 1px 1px;
     -moz-box-shadow: rgba(000,000,000,0.4) -1px 1px 1px;
     box-shadow: rgba(000,000,000,0.4) -1px 1px 1px;
     }
  .ribbon .ribbon-content:before, .ribbon .ribbon-content:after {
     border-color: $back-color-dark transparent transparent transparent;
     position: absolute;
     display: block;
     border-style: solid;
     bottom: -1em;
     content: '';
     }
  .ribbon .ribbon-content:before {
     left: 0;
     border-width: 1em 0 0 1em;
     }
  .ribbon .ribbon-content:after {
     right: 0;
     border-width: 1em 1em 0 0;
     }
  .ribbon-stitches-top {
     margin-top:2px;
     border-top: 1px dashed rgba(0, 0, 0, 0.2);
     -moz-box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.5);
     -webkit-box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.5);
     box-shadow: 0px 0px 2px rgba(255, 255, 255, 0.5);
     }
  .ribbon-stitches-bottom {
     margin-bottom:2px;
     border-top: 1px dashed rgba(0, 0, 0, 0.2);
     -moz-box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.3);
     -webkit-box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.3);
     box-shadow: 0px 0px 2px rgba(255, 255, 255, 0.3);
     }
}
