/**
 * @file
 * Block Styling
 */

@import "base";

#page
.block { /* Block wrapper */
  background-color: lighten($bg-general-color, 5%);
  @include border-top-right-radius(10px);
  margin-bottom: 1.5em;
  @include box-shadow(darken($bg-general-color, 5%) -4px 4px 5px);

  &.first { /* The first block in the region */
  }

  &.last { /* The last block in the region */
  }

  &.odd { /* Zebra striping for each block in the region */
  }

  &.even { /* Zebra striping for each block in the region */
  }

  h2.block-title { /* Block title */
    background-color: $titles-color;
    color: #fff;
    @include border-top-right-radius(10px);
    padding: 0 0.5em 0 1em;
  }
}
.wrapper-bottom .block,
#footer .block {
  color: $bg-general-color;
  a {
    color: $item-colors;
    text-decoration: underline;
    &:hover {
      color: $bg-menu-hover;
    }
  }
}

#block-aggregator-category-1 { /* Block for the latest news items in the first category */
}

#block-aggregator-feed-1 { /* Block for the latest news items in the first feed */
}

#block-block-1 { /* First block created with "Add block" link */
}

#block-blog-recent { /* "Recent blog posts" block */
}

#block-book-navigation { /* "Book navigation" block for the current book's table of contents */
}

#block-comment-recent { /* "Recent comments" block */
}

#block-forum-active { /* "Active forum topics" block */
}

#block-forum-new { /* "New forum topics" block */
}

#block-locale-language { /* Language switcher block */
}

#block-menu-menu-NAME { /* Custom menu block */
}

#block-node-recent { /* "Recent content" block */
}

#block-node-syndicate { /* "Syndicate" block for primary RSS feed; see also page.css's .feed-icon */
}

#block-poll-recent { /* "Most recent poll" block */
}

#block-profile-author-information { /* "Author information" block for the profile of the page's author */
}

#block-search-form { /* "Search form" block */
}

#block-shortcut-shortcuts { /* "Shortcuts" block */
}

#block-statistics-popular { /* "Popular content" block */
}

#block-system-main-menu { /* "Main menu" block */
}

#block-system-management { /* "Management" block for Drupal management menu */
}

#block-system-navigation { /* "Navigation" block for Drupal navigation menu */
}

#block-system-user-menu { /* "User menu" block for Drupal user menu */
}

#block-system-help { /* "System help" block */
}

#block-system-main { /* "Main page content" block */
}

#block-system-powered-by { /* "Powered by Drupal" block */
}

#block-user-login { /* "User login form" block */
}

#block-user-new { /* "Who's new" block for a list of the newest users */
}

#block-user-online { /* "Who's online" block for a list of the online users */
}
// Block with attendees pictures.
#block-views-dc-cod-community-block {
  .attachment-before {
    @include adjust-font-size-to(26px, 2);
    text-align: center;
    padding: 0.5em 0 0;
  }
  .view-content {
    ul {
      margin: 0 0 0 0.5em;
      overflow: hidden;
      li {
        width: 100px;
        display: block;
        text-align: center;
        height: 100px;
        border: 1px solid $bg-menu-color;
        background-color: $bg-menu-color;
        list-style: none;
        float: left;
        margin: 1em 1em 0 0;
      }
    }
  }
}
