/**
 * @file
 * Fonts SASS file
 *
 */

@import "base";

@mixin font-face-mixin($name, $style, $weight, $folder) {
  @font-face{
    font-family: $name;
    src: url($folder+'.eot');
    src: url($folder+'.eot?#iefix') format('embedded-opentype'),
      url($folder+'.woff') format('woff'),
      url($folder+'.ttf') format('truetype'),
      url($folder+'.svg#'+$name) format('svg');
    font-weight: $weight;
    font-style: $style;
  }
}

// Font OpenSans.
@include font-face-mixin("OpenSans", "normal", "normal", $font_folder+"OpenSans/"+"OpenSans-Regular-webfont");
@include font-face-mixin("OpenSansBold", "normal", "normal", $font_folder+"OpenSans/"+"OpenSans-Bold-webfont");
@include font-face-mixin("OpenSansItalic", "italic", "normal", $font_folder+"OpenSans/"+"OpenSans-Italic-webfont");
@include font-face-mixin("OpenSansLight", "normal", "normal", $font_folder+"OpenSans/"+"OpenSans-Light-webfont");

// Font Bebas.
@include font-face-mixin("BebasNeue", "normal", "normal", $font_folder+"BebasNeue/"+"BebasNeue-webfont");
