/**
 * @file
 * Node Styling
 *
 * Style anything that isn't in the $content variable.
 */

@import "base";


.node { /* Node wrapper */

  .preview & { /* Preview of the content before submitting new or updated content */
    /* background-color: #ffffea; */ /* Drupal core uses a #ffffea background */
  }

  .node-title { /* Node title */
  }

  .user-picture { /* The picture of the node author */
  }

  .submitted { /* The "posted by" information */
  }

  .content { /* Node's content wrapper */
  }

  ul.links { /* Node links. See also the ul.links declaration in the pages.css. */
  }

}

.node-promoted { /* A node that has been promoted to the front page */
}

.node-sticky { /* A sticky node (displayed before others in a list) */
}

.node-by-viewer { /* A node created by the current user */
}

.node-teaser { /* A node displayed as teaser */
  @include border-top-left-radius(10px);
  position: relative;
  background-color: lighten($bg-general-color, 5%);
  @include box-shadow(darken($bg-general-color, 5%) -4px 4px 5px);
  padding: 0 1em 0.5em;
  margin-bottom: 1.5em;
  header {
    time {
      @include adjust-font-size-to(14px, 1.8);
      position: absolute;
      top: 0;
      left: 0;
      background-color: $titles-color;
      color: #fff;
      @include border-top-left-radius(10px);
      padding: 0 0.5em ;
    }
  }
  h2 {
    font-family: $opensans-bold;
    padding: 0 0 1em 22%;
    @include adjust-font-size-to(24px, 1.8);
    a {
      text-decoration: none;
    }
  }
  ul.links {
    display: block;
    margin: 1em 0;
    text-align: right;
    li {
      a{
        text-decoration: none;
        padding: 0.5em 0;
        &:hover {
        }
      }
    }
  }
}

/*
 * All nodes are given a node-FOO class that describes the type of content that
 * it is. If you create a new content type called "my-custom-type", it will
 * receive a "node-my-custom-type" class.
 */

.node-page { /* Page content node */
}

.node-article { /* Article content node */
}

.node-unpublished { /* Unpublished nodes */
  /* background-color: #fff4f4; */ /* Drupal core uses a #fff4f4 background */

  p.unpublished { /* The word "Unpublished" displayed underneath the content. */
    @include unpublished-div;
  }
}
.view-mode-full {
  background-color: lighten($bg-general-color, 5%);
  margin-bottom: 1.5em;
  @include box-shadow(darken($bg-general-color, 5%) -4px 4px 5px);
  header,
  .field-name-body,
  .comments {
    padding: 0 0.5em;
  }
  .field-name-body {
    margin-top: 1em;
  }
  article {
    @include border-top-right-radius(10px);
  }
  header {
    @include border-top-right-radius(10px);
    background-color: $titles-color;
    p.submitted {
      color: #fff;
      margin: 0;
      @include adjust-font-size-to(14px, 1.8);
      a{
        color: #fff;
        text-decoration: underline;
      }
    }
  }
  .comments {
    label {
      font-weight: normal;
      color: $titles-color;
    }
    .form-type-item,
    .form-type-textfield {
      label {
        float: left;
        margin-right: 0.5em;
      }
    }
  }
}
