/**
 * @file
 * User Styling
 */

@import "base";

.page-user {
  #content {
    position: relative;
  }
  h1#page-title {
    padding: 0.5em 135px 0;
  }
  ul.tabs {
    margin: 1em 0 0;
  }
}

.profile {
  span.user-picture {
    display: block;
    width: 100px;
    height: 100px;
    text-align: center;
    position: absolute;
    top: 2em;
    left: 1em;
    border: 1px solid $bg-menu-color;
    background-color: $bg-menu-color;
  }
  background-color: lighten($bg-general-color, 5%);
  margin-bottom: 1.5em;
  padding: 0.5em 1.5em;
  @include box-shadow(darken($bg-general-color, 5%) -4px 4px 5px);
  .field-label-above .field-label{
    color: $titles-color;
    float: left;
    margin-right: 0.5em;
  }
  h3 {
    color: $titles-color;
    font-weight: normal;
    font-family: $opensans-bold;
    margin: 0.5em 0;
    text-decoration: underline;
  }
  dl {
    margin: 0;
  }
}
