/**
 * @file
 * Views Styling
 */

@import "base";


/*
 * Views' admin tabs
 *
 * The views admin tabs use the same classes as the secondary tabs. We prevent
 * some of our tab styling from bleeding into (and breaking) the Views admin
 * pages. If your sub-theme isn't used for admin pages, you can remove this
 * entire section.
 */
.views-displays .secondary {
  li {
    float: none;
    margin: 0 6px 0;
  }

  a:link,
  a:visited {
    @include single-text-shadow(none);
    padding: 2px 7px 3px;
  }

  .open > a {
    @include border-radius(7px 7px 0 0);
    &:hover {
      color: #333;
    }
  }

  .action-list li {
    margin: 0;
    &:first-child {
      @include border-radius(0 7px 0 0);
    }
    &:last-child {
      @include border-radius(0 0 7px 7px);
    }
  }
}

.view-slideshow-frontpage {
  .views-slideshow-cycle-main-frame-row-item,
  .view-content {
    position: relative;
  }
  .views-slideshow-controls-top {
    position: absolute;
    top: 15px;
    right: 15px;
    z-index: 10;
    .views-slideshow-pager-field-item {
      background-color: $bg-menu-color;
      width: 30px;
      height: 15px;
      float: right;
      margin-left: 0.5em;
      .views-content-title {
        cursor: pointer;
        text-indent: -9999px;
      }
    }
    .active {
      background-color: $bg-menu-hover;
    }
  }
  .views-slideshow-cycle-main-frame-row-item {
    img,
    a{
      display: block;
    }
    span.title {
      @include opacity(0.95);
      position: absolute;
      display: block;
      @include border-top-right-radius(10px);
      padding: 1em 0.5em;
      text-indent: 1em;
      bottom: 0;
      background-color: $titles-color;
      width: 60%;
      color: $item-colors;
    }
  }
}
.view-display-id-community_page {
  .view-filters{
    float: right;
    margin-top: -80px;
  }
  .view-content {
    ul {
      overflow: hidden;
      margin: 0;
      padding: 0;
      li {
        background-color: lighten($bg-general-color, 5%);
        padding: 1em;
        list-style: none;
        float: left;
        width: 110px;
        overflow: hidden;
        max-height: 190px;
        margin: 1em 0.8em 0 0;
        .views-field-picture {
          width: 100px;
          display: block;
          text-align: center;
          height: 100px;
          border: 1px solid $bg-menu-color;
          background-color: $bg-menu-color;
        }
      }
    }
  }
}
#block-views-dc-cod-sponsors-block {
  ul {
    overflow: hidden;
    margin: 0;
    padding: 0;
    li {
      list-style: none;
      text-align: center;
      margin: 1em 0;
      .views-field-title {
        font-family: $opensans-bold;
        a {
          text-decoration: none;
        }
      }
    }
  }
}
.view-display-id-sponsors_page {
  @include ribbon-sponsors($titles-color, $bg-menu-color, $item-colors);
  ul {
    margin: 0;
    padding: 7.5em 0 0 3em;
    overflow: hidden;
    li {
      list-style: none;
      float: left;
      margin:1em 0.5em 0 0;
      text-align: center;
    }
  }
}
.view-dc-cod-frontpage {
  ul {
    margin: 0;
    padding: 0;
    li {
      list-style: none;
    }
  }
}
