/**
 * @file
 * Block Styling
 */
/* line 9, ../sass/blocks.scss */
#page
.block {
  /* Block wrapper */
  background-color: #f8fdff;
  -moz-border-radius-topright: 10px;
  -webkit-border-top-right-radius: 10px;
  border-top-right-radius: 10px;
  margin-bottom: 1.5em;
  -webkit-box-shadow: #c5e9ff -4px 4px 5px;
  -moz-box-shadow: #c5e9ff -4px 4px 5px;
  box-shadow: #c5e9ff -4px 4px 5px;
}
/* line 15, ../sass/blocks.scss */
#page
.block.first {
  /* The first block in the region */
}
/* line 18, ../sass/blocks.scss */
#page
.block.last {
  /* The last block in the region */
}
/* line 21, ../sass/blocks.scss */
#page
.block.odd {
  /* Zebra striping for each block in the region */
}
/* line 24, ../sass/blocks.scss */
#page
.block.even {
  /* Zebra striping for each block in the region */
}
/* line 27, ../sass/blocks.scss */
#page
.block h2.block-title {
  /* Block title */
  background-color: #0077c0;
  color: #fff;
  -moz-border-radius-topright: 10px;
  -webkit-border-top-right-radius: 10px;
  border-top-right-radius: 10px;
  padding: 0 0.5em 0 1em;
}

/* line 35, ../sass/blocks.scss */
.wrapper-bottom .block,
#footer .block {
  color: #dff3ff;
}
/* line 37, ../sass/blocks.scss */
.wrapper-bottom .block a,
#footer .block a {
  color: white;
  text-decoration: underline;
}
/* line 40, ../sass/blocks.scss */
.wrapper-bottom .block a:hover,
#footer .block a:hover {
  color: #81ceff;
}

/* line 46, ../sass/blocks.scss */
#block-aggregator-category-1 {
  /* Block for the latest news items in the first category */
}

/* line 49, ../sass/blocks.scss */
#block-aggregator-feed-1 {
  /* Block for the latest news items in the first feed */
}

/* line 52, ../sass/blocks.scss */
#block-block-1 {
  /* First block created with "Add block" link */
}

/* line 55, ../sass/blocks.scss */
#block-blog-recent {
  /* "Recent blog posts" block */
}

/* line 58, ../sass/blocks.scss */
#block-book-navigation {
  /* "Book navigation" block for the current book's table of contents */
}

/* line 61, ../sass/blocks.scss */
#block-comment-recent {
  /* "Recent comments" block */
}

/* line 64, ../sass/blocks.scss */
#block-forum-active {
  /* "Active forum topics" block */
}

/* line 67, ../sass/blocks.scss */
#block-forum-new {
  /* "New forum topics" block */
}

/* line 70, ../sass/blocks.scss */
#block-locale-language {
  /* Language switcher block */
}

/* line 73, ../sass/blocks.scss */
#block-menu-menu-NAME {
  /* Custom menu block */
}

/* line 76, ../sass/blocks.scss */
#block-node-recent {
  /* "Recent content" block */
}

/* line 79, ../sass/blocks.scss */
#block-node-syndicate {
  /* "Syndicate" block for primary RSS feed; see also page.css's .feed-icon */
}

/* line 82, ../sass/blocks.scss */
#block-poll-recent {
  /* "Most recent poll" block */
}

/* line 85, ../sass/blocks.scss */
#block-profile-author-information {
  /* "Author information" block for the profile of the page's author */
}

/* line 88, ../sass/blocks.scss */
#block-search-form {
  /* "Search form" block */
}

/* line 91, ../sass/blocks.scss */
#block-shortcut-shortcuts {
  /* "Shortcuts" block */
}

/* line 94, ../sass/blocks.scss */
#block-statistics-popular {
  /* "Popular content" block */
}

/* line 97, ../sass/blocks.scss */
#block-system-main-menu {
  /* "Main menu" block */
}

/* line 100, ../sass/blocks.scss */
#block-system-management {
  /* "Management" block for Drupal management menu */
}

/* line 103, ../sass/blocks.scss */
#block-system-navigation {
  /* "Navigation" block for Drupal navigation menu */
}

/* line 106, ../sass/blocks.scss */
#block-system-user-menu {
  /* "User menu" block for Drupal user menu */
}

/* line 109, ../sass/blocks.scss */
#block-system-help {
  /* "System help" block */
}

/* line 112, ../sass/blocks.scss */
#block-system-main {
  /* "Main page content" block */
}

/* line 115, ../sass/blocks.scss */
#block-system-powered-by {
  /* "Powered by Drupal" block */
}

/* line 118, ../sass/blocks.scss */
#block-user-login {
  /* "User login form" block */
}

/* line 121, ../sass/blocks.scss */
#block-user-new {
  /* "Who's new" block for a list of the newest users */
}

/* line 124, ../sass/blocks.scss */
#block-user-online {
  /* "Who's online" block for a list of the online users */
}

/* line 128, ../sass/blocks.scss */
#block-views-dc-cod-community-block .attachment-before {
  font-size: 1.625em;
  line-height: 1.84615em;
  text-align: center;
  padding: 0.5em 0 0;
}
/* line 134, ../sass/blocks.scss */
#block-views-dc-cod-community-block .view-content ul {
  margin: 0 0 0 0.5em;
  overflow: hidden;
}
/* line 137, ../sass/blocks.scss */
#block-views-dc-cod-community-block .view-content ul li {
  width: 100px;
  display: block;
  text-align: center;
  height: 100px;
  border: 1px solid #00598e;
  background-color: #00598e;
  list-style: none;
  float: left;
  margin: 1em 1em 0 0;
}
