/**
 * @file
 * Node Styling
 *
 * Style anything that isn't in the $content variable.
 */
/* line 11, ../sass/nodes.scss */
.node {
  /* Node wrapper */
}
/* line 13, ../sass/nodes.scss */
.preview .node {
  /* Preview of the content before submitting new or updated content */
  /* background-color: #ffffea; */
  /* Drupal core uses a #ffffea background */
}
/* line 17, ../sass/nodes.scss */
.node .node-title {
  /* Node title */
}
/* line 20, ../sass/nodes.scss */
.node .user-picture {
  /* The picture of the node author */
}
/* line 23, ../sass/nodes.scss */
.node .submitted {
  /* The "posted by" information */
}
/* line 26, ../sass/nodes.scss */
.node .content {
  /* Node's content wrapper */
}
/* line 29, ../sass/nodes.scss */
.node ul.links {
  /* Node links. See also the ul.links declaration in the pages.css. */
}

/* line 34, ../sass/nodes.scss */
.node-promoted {
  /* A node that has been promoted to the front page */
}

/* line 37, ../sass/nodes.scss */
.node-sticky {
  /* A sticky node (displayed before others in a list) */
}

/* line 40, ../sass/nodes.scss */
.node-by-viewer {
  /* A node created by the current user */
}

/* line 43, ../sass/nodes.scss */
.node-teaser {
  /* A node displayed as teaser */
  -moz-border-radius-topleft: 10px;
  -webkit-border-top-left-radius: 10px;
  border-top-left-radius: 10px;
  position: relative;
  background-color: #f8fdff;
  -webkit-box-shadow: #c5e9ff -4px 4px 5px;
  -moz-box-shadow: #c5e9ff -4px 4px 5px;
  box-shadow: #c5e9ff -4px 4px 5px;
  padding: 0 1em 0.5em;
  margin-bottom: 1.5em;
}
/* line 51, ../sass/nodes.scss */
.node-teaser header time {
  font-size: 0.875em;
  line-height: 3.08571em;
  position: absolute;
  top: 0;
  left: 0;
  background-color: #0077c0;
  color: #fff;
  -moz-border-radius-topleft: 10px;
  -webkit-border-top-left-radius: 10px;
  border-top-left-radius: 10px;
  padding: 0 0.5em;
}
/* line 62, ../sass/nodes.scss */
.node-teaser h2 {
  font-family: "OpenSansBold", Arial, "Nimbus Sans L", sans-serif;
  padding: 0 0 1em 22%;
  font-size: 1.5em;
  line-height: 1.8em;
}
/* line 66, ../sass/nodes.scss */
.node-teaser h2 a {
  text-decoration: none;
}
/* line 70, ../sass/nodes.scss */
.node-teaser ul.links {
  display: block;
  margin: 1em 0;
  text-align: right;
}
/* line 75, ../sass/nodes.scss */
.node-teaser ul.links li a {
  text-decoration: none;
  padding: 0.5em 0;
}

/*
 * All nodes are given a node-FOO class that describes the type of content that
 * it is. If you create a new content type called "my-custom-type", it will
 * receive a "node-my-custom-type" class.
 */
/* line 91, ../sass/nodes.scss */
.node-page {
  /* Page content node */
}

/* line 94, ../sass/nodes.scss */
.node-article {
  /* Article content node */
}

/* line 97, ../sass/nodes.scss */
.node-unpublished {
  /* Unpublished nodes */
  /* background-color: #fff4f4; */
  /* Drupal core uses a #fff4f4 background */
}
/* line 100, ../sass/nodes.scss */
.node-unpublished p.unpublished {
  /* The word "Unpublished" displayed underneath the content. */
  height: 0;
  overflow: visible;
  color: #d8d8d8;
  font-size: 75px;
  line-height: 1;
  font-family: Impact, "Arial Narrow", Helvetica, sans-serif;
  font-weight: bold;
  text-transform: uppercase;
  text-align: center;
  word-wrap: break-word;
}

/* line 104, ../sass/nodes.scss */
.view-mode-full {
  background-color: #f8fdff;
  margin-bottom: 1.5em;
  -webkit-box-shadow: #c5e9ff -4px 4px 5px;
  -moz-box-shadow: #c5e9ff -4px 4px 5px;
  box-shadow: #c5e9ff -4px 4px 5px;
}
/* line 110, ../sass/nodes.scss */
.view-mode-full header,
.view-mode-full .field-name-body,
.view-mode-full .comments {
  padding: 0 0.5em;
}
/* line 113, ../sass/nodes.scss */
.view-mode-full .field-name-body {
  margin-top: 1em;
}
/* line 116, ../sass/nodes.scss */
.view-mode-full article {
  -moz-border-radius-topright: 10px;
  -webkit-border-top-right-radius: 10px;
  border-top-right-radius: 10px;
}
/* line 119, ../sass/nodes.scss */
.view-mode-full header {
  -moz-border-radius-topright: 10px;
  -webkit-border-top-right-radius: 10px;
  border-top-right-radius: 10px;
  background-color: #0077c0;
}
/* line 122, ../sass/nodes.scss */
.view-mode-full header p.submitted {
  color: #fff;
  margin: 0;
  font-size: 0.875em;
  line-height: 3.08571em;
}
/* line 126, ../sass/nodes.scss */
.view-mode-full header p.submitted a {
  color: #fff;
  text-decoration: underline;
}
/* line 133, ../sass/nodes.scss */
.view-mode-full .comments label {
  font-weight: normal;
  color: #0077c0;
}
/* line 139, ../sass/nodes.scss */
.view-mode-full .comments .form-type-item label,
.view-mode-full .comments .form-type-textfield label {
  float: left;
  margin-right: 0.5em;
}
