/**
 * @file
 * Page Styling
 *
 * Style the markup found in page.tpl.php. Also includes some styling of
 * miscellaneous Drupal elements that appear in the $content variable, such as
 * ul.links, .pager, .more-link, etc.
 */
/*
 * Body
 */
/* line 17, ../sass/pages.scss */
body {
  margin: 0;
  padding: 0;
  background-color: #dff3ff;
}

/*
 * The skip-link link will be completely hidden until a user tabs to the link.
 * See the element-focusable rule in system.base.css.
 */
/* line 31, ../sass/pages.scss */
#skip-link {
  margin: 0;
}
/* line 35, ../sass/pages.scss */
#skip-link a,
#skip-link a:visited {
  display: block;
  width: 100%;
  padding: 2px 0 3px 0;
  text-align: center;
  background-color: #666;
  color: #fff;
}

/*
 * Header
 */
/* line 52, ../sass/pages.scss */
#logo {
  /* Wrapping link for logo */
  float: left;
  /* LTR */
  margin: 0;
  padding: 0;
}
/* line 57, ../sass/pages.scss */
#logo img {
  vertical-align: bottom;
}

/* line 62, ../sass/pages.scss */
#name-and-slogan {
  /* Wrapper for website name and slogan */
  float: left;
}

/* line 66, ../sass/pages.scss */
#site-name {
  /* The name of the website */
  margin: 0;
  font-size: 3em;
  line-height: 1.5em;
  font-family: "OpenSansBold", Arial, "Nimbus Sans L", sans-serif;
  font-weight: normal;
  text-shadow: 2px 2px 3px #0067a7;
}
/* line 75, ../sass/pages.scss */
#site-name a:link,
#site-name a:visited {
  color: white;
  text-decoration: none;
}
/* line 82, ../sass/pages.scss */
#site-name a:hover,
#site-name a:focus {
  text-decoration: none;
}
/* line 85, ../sass/pages.scss */
#site-name span {
  text-indent: -999999px;
  display: block;
  background-image: url("../logo-camp2013.png");
  background-repeat: no-repeat;
  width: 787px;
  height: 233px;
}

/* line 90, ../sass/pages.scss */
#site-slogan {
  /* The slogan (or tagline) of a website */
  margin: 0;
  font-size: 1em;
}

/* line 95, ../sass/pages.scss */
#header-wrapper {
  padding: 1em 0;
  background-color: #0077c0;
  background-image: url("../images/header-example.jpg");
  background-position: center center;
  background-repeat: no-repeat;
}

/* line 105, ../sass/pages.scss */
#navigation-wrapper {
  background-color: #00598e;
}

/* line 109, ../sass/pages.scss */
.region-header {
  /* Wrapper for any blocks placed in the header region */
  clear: both;
  /* Clear the logo */
}

/*
 * Main (container for everything else)
 */
/*
 * Content
 */
/* line 130, ../sass/pages.scss */
.breadcrumb {
  /* The path to the current page in the form of a list of links */
}
/* line 131, ../sass/pages.scss */
.breadcrumb ol {
  margin: 0;
  padding: 0;
}
/* line 135, ../sass/pages.scss */
.breadcrumb li {
  display: inline;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

/* line 148, ../sass/pages.scss */
h1.title,
h2.node-title,
h2.block-title,
h2.title,
h2.comment-form,
h3.title {
  /* Comment title */
  margin: 0;
  font-family: "OpenSansLight", Arial, "Nimbus Sans L", sans-serif;
  font-weight: normal;
  color: #0077c0;
}

/* line 155, ../sass/pages.scss */
tr.even {
  /* Some tables have rows marked even or odd. */
  /* background-color: #eee; */
  /* Drupal core uses a #eee background */
}

/* line 159, ../sass/pages.scss */
tr.odd {
  /* background-color: #eee; */
  /* Drupal core uses a #eee background */
}

/* line 163, ../sass/pages.scss */
div.messages {
  /* Important messages (status, warning, and error) for the user. See also the declarations in messages.css. */
  margin: 1.5em 0;
  /* Drupal core uses "6px 0" margin */
}
/* line 166, ../sass/pages.scss */
div.messages ul {
  margin-top: 0;
  margin-bottom: 0;
}

/* line 172, ../sass/pages.scss */
div.status {
  /* Normal priority messages */
}

/* line 176, ../sass/pages.scss */
div.warning,
tr.warning {
  /* Medium priority messages */
  /* border: 1px solid #f0c020; */
  /* Drupal core uses: 1px solid #f0c020 */
}

/* line 181, ../sass/pages.scss */
div.error,
tr.error {
  /* High priority messages. See also the .error declaration below. */
}

/* line 184, ../sass/pages.scss */
.error {
  /* Errors that are separate from div.messages status messages. */
  /* color: #e55; */
  /* Drupal core uses a #e55 background */
}

/* line 188, ../sass/pages.scss */
.warning {
  /* Warnings that are separate from div.messages status messages. */
  /* color: #e09010; */
  /* Drupal core uses a #e09010 background */
}

/* line 192, ../sass/pages.scss */
.tabs {
  /* See also the tabs.css file. */
}

/* line 195, ../sass/pages.scss */
.region-help {
  /* Help text on a page */
}

/* line 198, ../sass/pages.scss */
.more-help-link {
  /* Link to more help */
}

/* line 201, ../sass/pages.scss */
.region-content {
  /* Wrapper for the actual page content */
}

/* line 204, ../sass/pages.scss */
ul.inline {
  /* List of links generated by theme_links() */
  display: inline;
  padding: 0;
}
/* line 208, ../sass/pages.scss */
ul.inline li {
  display: inline;
  list-style-type: none;
  padding: 0 1em 0 0;
  /* LTR */
}

/* line 214, ../sass/pages.scss */
span.field-label {
  /* The inline field label used by the Fences module */
  padding: 0 1em 0 0;
  /* LTR */
}

/* line 218, ../sass/pages.scss */
.item-list .pager {
  /* A list of page numbers when more than 1 page of content is available */
  padding: 0;
}
/* line 221, ../sass/pages.scss */
.item-list .pager li {
  /* Each page number in the pager list */
  padding: 0 0.5em;
}

/* line 226, ../sass/pages.scss */
.feed-icon {
  /* The link to the RSS or Atom feed for the current list of content */
}

/* line 229, ../sass/pages.scss */
.more-link {
  /* Aggregator, blog, and forum more link */
}
/* line 230, ../sass/pages.scss */
.more-link a {
  padding: 0.5em;
}

/*
 * First sidebar (on left in LTR languages, on right in RTL)
 *
 * Remember to NOT add padding or margin to your .region-sidebar-first
 * (see the layout.css file.)
 */
/*
 * Second sidebar (on right in LTR languages, on left in RTL)
 *
 * Remember to NOT add padding or margin to your .region-sidebar-second
 * (see the layout.css file.)
 */
/*
 * Footer
 */
/* line 258, ../sass/pages.scss */
.wrapper-bottom {
  background-color: #00598e;
  padding: 1em 0;
  border-top: 10px solid #0079c1;
}

/* line 263, ../sass/pages.scss */
#footer {
  background-color: #00598e;
}

/*
 * Page bottom
 */
/* line 271, ../sass/pages.scss */
.region-bottom {
  /* Wrapper for any blocks placed in the page bottom region */
}
