/**
 * @file
 * User Styling
 */
/* line 9, ../sass/user.scss */
.page-user #content {
  position: relative;
}
/* line 12, ../sass/user.scss */
.page-user h1#page-title {
  padding: 0.5em 135px 0;
}
/* line 15, ../sass/user.scss */
.page-user ul.tabs {
  margin: 1em 0 0;
}

/* line 20, ../sass/user.scss */
.profile {
  background-color: #f8fdff;
  margin-bottom: 1.5em;
  padding: 0.5em 1.5em;
  -webkit-box-shadow: #c5e9ff -4px 4px 5px;
  -moz-box-shadow: #c5e9ff -4px 4px 5px;
  box-shadow: #c5e9ff -4px 4px 5px;
}
/* line 21, ../sass/user.scss */
.profile span.user-picture {
  display: block;
  width: 100px;
  height: 100px;
  text-align: center;
  position: absolute;
  top: 2em;
  left: 1em;
  border: 1px solid #00598e;
  background-color: #00598e;
}
/* line 36, ../sass/user.scss */
.profile .field-label-above .field-label {
  color: #0077c0;
  float: left;
  margin-right: 0.5em;
}
/* line 41, ../sass/user.scss */
.profile h3 {
  color: #0077c0;
  font-weight: normal;
  font-family: "OpenSansBold", Arial, "Nimbus Sans L", sans-serif;
  margin: 0.5em 0;
  text-decoration: underline;
}
/* line 48, ../sass/user.scss */
.profile dl {
  margin: 0;
}
