/**
 * @file
 * Views Styling
 */
/*
 * Views' admin tabs
 *
 * The views admin tabs use the same classes as the secondary tabs. We prevent
 * some of our tab styling from bleeding into (and breaking) the Views admin
 * pages. If your sub-theme isn't used for admin pages, you can remove this
 * entire section.
 */
/* line 18, ../sass/views-styles.scss */
.views-displays .secondary li {
  float: none;
  margin: 0 6px 0;
}
/* line 24, ../sass/views-styles.scss */
.views-displays .secondary a:link,
.views-displays .secondary a:visited {
  text-shadow: none;
  padding: 2px 7px 3px;
}
/* line 29, ../sass/views-styles.scss */
.views-displays .secondary .open > a {
  -webkit-border-radius: 7px 7px 0 0;
  -moz-border-radius: 7px 7px 0 0;
  -ms-border-radius: 7px 7px 0 0;
  -o-border-radius: 7px 7px 0 0;
  border-radius: 7px 7px 0 0;
}
/* line 31, ../sass/views-styles.scss */
.views-displays .secondary .open > a:hover {
  color: #333;
}
/* line 36, ../sass/views-styles.scss */
.views-displays .secondary .action-list li {
  margin: 0;
}
/* line 38, ../sass/views-styles.scss */
.views-displays .secondary .action-list li:first-child {
  -webkit-border-radius: 0 7px 0 0;
  -moz-border-radius: 0 7px 0 0;
  -ms-border-radius: 0 7px 0 0;
  -o-border-radius: 0 7px 0 0;
  border-radius: 0 7px 0 0;
}
/* line 41, ../sass/views-styles.scss */
.views-displays .secondary .action-list li:last-child {
  -webkit-border-radius: 0 0 7px 7px;
  -moz-border-radius: 0 0 7px 7px;
  -ms-border-radius: 0 0 7px 7px;
  -o-border-radius: 0 0 7px 7px;
  border-radius: 0 0 7px 7px;
}

/* line 49, ../sass/views-styles.scss */
.view-slideshow-frontpage .views-slideshow-cycle-main-frame-row-item,
.view-slideshow-frontpage .view-content {
  position: relative;
}
/* line 52, ../sass/views-styles.scss */
.view-slideshow-frontpage .views-slideshow-controls-top {
  position: absolute;
  top: 15px;
  right: 15px;
  z-index: 10;
}
/* line 57, ../sass/views-styles.scss */
.view-slideshow-frontpage .views-slideshow-controls-top .views-slideshow-pager-field-item {
  background-color: #00598e;
  width: 30px;
  height: 15px;
  float: right;
  margin-left: 0.5em;
}
/* line 63, ../sass/views-styles.scss */
.view-slideshow-frontpage .views-slideshow-controls-top .views-slideshow-pager-field-item .views-content-title {
  cursor: pointer;
  text-indent: -9999px;
}
/* line 68, ../sass/views-styles.scss */
.view-slideshow-frontpage .views-slideshow-controls-top .active {
  background-color: #81ceff;
}
/* line 74, ../sass/views-styles.scss */
.view-slideshow-frontpage .views-slideshow-cycle-main-frame-row-item img,
.view-slideshow-frontpage .views-slideshow-cycle-main-frame-row-item a {
  display: block;
}
/* line 77, ../sass/views-styles.scss */
.view-slideshow-frontpage .views-slideshow-cycle-main-frame-row-item span.title {
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=95);
  opacity: 0.95;
  position: absolute;
  display: block;
  -moz-border-radius-topright: 10px;
  -webkit-border-top-right-radius: 10px;
  border-top-right-radius: 10px;
  padding: 1em 0.5em;
  text-indent: 1em;
  bottom: 0;
  background-color: #0077c0;
  width: 60%;
  color: white;
}

/* line 92, ../sass/views-styles.scss */
.view-display-id-community_page .view-filters {
  float: right;
  margin-top: -80px;
}
/* line 97, ../sass/views-styles.scss */
.view-display-id-community_page .view-content ul {
  overflow: hidden;
  margin: 0;
  padding: 0;
}
/* line 101, ../sass/views-styles.scss */
.view-display-id-community_page .view-content ul li {
  background-color: #f8fdff;
  padding: 1em;
  list-style: none;
  float: left;
  width: 110px;
  overflow: hidden;
  max-height: 190px;
  margin: 1em 0.8em 0 0;
}
/* line 110, ../sass/views-styles.scss */
.view-display-id-community_page .view-content ul li .views-field-picture {
  width: 100px;
  display: block;
  text-align: center;
  height: 100px;
  border: 1px solid #00598e;
  background-color: #00598e;
}

/* line 123, ../sass/views-styles.scss */
#block-views-dc-cod-sponsors-block ul {
  overflow: hidden;
  margin: 0;
  padding: 0;
}
/* line 127, ../sass/views-styles.scss */
#block-views-dc-cod-sponsors-block ul li {
  list-style: none;
  text-align: center;
  margin: 1em 0;
}
/* line 131, ../sass/views-styles.scss */
#block-views-dc-cod-sponsors-block ul li .views-field-title {
  font-family: "OpenSansBold", Arial, "Nimbus Sans L", sans-serif;
}
/* line 133, ../sass/views-styles.scss */
#block-views-dc-cod-sponsors-block ul li .views-field-title a {
  text-decoration: none;
}

/* line 75, ../sass/_custom.scss */
.view-display-id-sponsors_page .ribbon {
  width: 87%;
  margin: 1.5em 0 0 2em;
  position: absolute;
  text-align: center;
  font-size: 20px!important;
  background: #0077c0;
  background: -webkit-gradient(linear, left top, left bottom, from(#0077c0), to(#00385a));
  background: -webkit-linear-gradient(top, #0077c0, #00385a);
  background: -moz-linear-gradient(top, #0077c0, #00385a);
  background: -ms-linear-gradient(top, #0077c0, #00385a);
  background: -o-linear-gradient(top, #0077c0, #00385a);
  background-image: -ms-linear-gradient(top, #0077c0 0%, #00385a 100%);
  -webkit-box-shadow: rgba(0, 0, 0, 0.3) 0 1px 1px;
  -moz-box-shadow: rgba(0, 0, 0, 0.3) 0 1px 1px;
  box-shadow: rgba(0, 0, 0, 0.3) 0 1px 1px;
}
/* line 92, ../sass/_custom.scss */
.view-display-id-sponsors_page .ribbon h2 {
  font-size: 25px!important;
  color: white;
  text-shadow: #000 0 1px 0;
  margin: 0;
  padding: 0;
  font-weight: normal;
  font-family: "OpenSansBold", Arial, "Nimbus Sans L", sans-serif;
}
/* line 101, ../sass/_custom.scss */
.view-display-id-sponsors_page .ribbon:before, .view-display-id-sponsors_page .ribbon:after {
  content: '';
  position: absolute;
  display: block;
  bottom: -1em;
  border: 1.5em solid #00598e;
  z-index: -1;
}
/* line 109, ../sass/_custom.scss */
.view-display-id-sponsors_page .ribbon:before {
  left: -2em;
  border-right-width: 1.5em;
  border-left-color: transparent;
  -webkit-box-shadow: rgba(0, 0, 0, 0.4) 1px 1px 1px;
  -moz-box-shadow: rgba(0, 0, 0, 0.4) 1px 1px 1px;
  box-shadow: rgba(0, 0, 0, 0.4) 1px 1px 1px;
}
/* line 117, ../sass/_custom.scss */
.view-display-id-sponsors_page .ribbon:after {
  right: -2em;
  border-left-width: 1.5em;
  border-right-color: transparent;
  -webkit-box-shadow: rgba(0, 0, 0, 0.4) -1px 1px 1px;
  -moz-box-shadow: rgba(0, 0, 0, 0.4) -1px 1px 1px;
  box-shadow: rgba(0, 0, 0, 0.4) -1px 1px 1px;
}
/* line 125, ../sass/_custom.scss */
.view-display-id-sponsors_page .ribbon .ribbon-content:before, .view-display-id-sponsors_page .ribbon .ribbon-content:after {
  border-color: #001928 transparent transparent transparent;
  position: absolute;
  display: block;
  border-style: solid;
  bottom: -1em;
  content: '';
}
/* line 133, ../sass/_custom.scss */
.view-display-id-sponsors_page .ribbon .ribbon-content:before {
  left: 0;
  border-width: 1em 0 0 1em;
}
/* line 137, ../sass/_custom.scss */
.view-display-id-sponsors_page .ribbon .ribbon-content:after {
  right: 0;
  border-width: 1em 1em 0 0;
}
/* line 141, ../sass/_custom.scss */
.view-display-id-sponsors_page .ribbon-stitches-top {
  margin-top: 2px;
  border-top: 1px dashed rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.5);
  -webkit-box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.5);
  box-shadow: 0px 0px 2px rgba(255, 255, 255, 0.5);
}
/* line 148, ../sass/_custom.scss */
.view-display-id-sponsors_page .ribbon-stitches-bottom {
  margin-bottom: 2px;
  border-top: 1px dashed rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.3);
  -webkit-box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.3);
  box-shadow: 0px 0px 2px rgba(255, 255, 255, 0.3);
}
/* line 142, ../sass/views-styles.scss */
.view-display-id-sponsors_page ul {
  margin: 0;
  padding: 7.5em 0 0 3em;
  overflow: hidden;
}
/* line 146, ../sass/views-styles.scss */
.view-display-id-sponsors_page ul li {
  list-style: none;
  float: left;
  margin: 1em 0.5em 0 0;
  text-align: center;
}

/* line 155, ../sass/views-styles.scss */
.view-dc-cod-frontpage ul {
  margin: 0;
  padding: 0;
}
/* line 158, ../sass/views-styles.scss */
.view-dc-cod-frontpage ul li {
  list-style: none;
}
